<div mat-dialog-content style="padding: 0; width: 30vw; overflow: hidden">
  <div class="header-wrapper">
    <mat-icon>help_outline</mat-icon>
  </div>
  <div class="triangle-others"></div>
  <div class="contents">
    <h3>Before you proceed</h3>
    <p *ngIf="data.msg">{{ "Are you sure you want to " + data.msg + "?" }}</p>
  </div>
  <div class="btn-container">
    <button mat-flat-button class="btn-yes" (click)="dialogRef.close(true)">
      Yes
    </button>
    <button mat-flat-button class="btn-no" (click)="dialogRef.close()">
      No
    </button>
  </div>
</div>
