<div class="wrapper">
  <div class="login-container">
    <div class="grid">
      <div class="col-12">
        <form [formGroup]="credentials">
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
          </mat-form-field>
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="showPassword ? 'text' : 'password'"
              formControlName="password"
            />
            <mat-icon
              matSuffix
              (click)="showPassword = !showPassword"
              class="show-icon"
              >visibility{{ showPassword ? "" : "_off" }}</mat-icon
            >
          </mat-form-field>
        </form>
        <button
          [disabled]="credentials.invalid || loading"
          mat-flat-button
          color="primary"
          class="w-full"
          (click)="login()"
        >
          {{ loading ? "Logging In.." : "Login" }}
        </button>
      </div>
    </div>
  </div>
</div>
