.card {
  background-color: #ededed;
  border-radius: 3px;
  padding: 0rem 1rem;
  .name {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 0.7rem;
  }
  .value {
    font-size: 30px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
  }
  .icn {
    font-size: 45px;
    color: #7b7b7b;
  }
}
